<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>王冠元簡介</title>
    <style type="text/css">
        * { font-family: "標楷體"; margin: 0 auto; }
        h1 { color: blue; font-size: 60px; text-align: center; }
        h2 { color: #33ff33; font-size: 40px; text-align: center; }
        table { margin-top: 20px; }
    </style>
    <script>
        function change1() {
            document.getElementById("pic").src = "static/mountain.jpg";
            document.getElementById("h2text").innerText = "靜宜資管";
        }

        function change2() {
            document.getElementById("pic").src = "static/cliff.jpg";
            document.getElementById("h2text").innerText = "Guan-Yuan Wang";
        }
    </script>
</head>
<body>
    <table width="70%">
        <tr>
            <td>
                <img src="static/cliff.jpg" width="110%" id="pic" onmouseover="change1()" onmouseout="change2()" alt="個人照片">
            </td>
            <td>
                <h1>王冠元</h1>
                <h2 id="h2text">Guan-Yuan Wang</h2>
            </td>
        </tr> </table>

    <table width="70%" border="1">
        <tr>
            <td>
                個人學校網頁 : <a href="https://csim.pu.edu.tw/">https://csim.pu.edu.tw/</a><br>
                Tel : <a href="tel:04-26328001#18011-18013">04-26328001#18011-18013</a>
            </td>
            <td>
                大象席地而坐電影配樂<br>
                <audio controls>
                    <source src="static/elephant.mp3" type="audio/mpeg">
                    您的瀏覽器不支援音訊播放。
                </audio>
            </td>
            <td>
                不要去臺灣<br>
                <iframe width="300" height="200" src="https://www.youtube.com/embed/pW88QFpHXa8" frameborder="0" allowfullscreen></iframe>
            </td>
        </tr>
    </table>
</body>
</html>